# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
*.sqlite3
staticfiles/
media/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Tooling
.ruff_cache/
.mypy_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Not public Docs

ARCHITECTURE.md
README.md
docs/
